<launch>
    <!-- Include the MoveIt RViz dual arm test setup launch file -->
    <include file="$(find vader_planner)/launch/tests/setups/_moveit_rviz_dual_arm_test_setup.launch" />
    <param name="storage_bin_pose" value="0 1 2 0 0 0 1"/>
    <param name="gripper_home_pose" value="0.2 0.0 0.3 0 0.707 0 0.707"/>
    <param name="cutter_home_pose" value="0.2 0.5 0.3 0 0.707 0 0.707"/>
    <param name="inter_arm_distance" value="0.5"/>
    <param name="arm_ground_clearance" value="0.2"/>

    <!-- Node for vader_parallel_dual_planner -->
    <node name="vader_parallel_dual_planner" pkg="vader_planner" type="vader_parallel_dual_planner" output="screen">
    </node>
</launch>